body {
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    /* makes padding part of the element's dimension
    especially helpful with the radio buttons in projects */
}

/* Css fro the slider */
.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

#slide-container {
    height: 100vh;
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth !important;
    /* !important fixes some chrome not doing smooth,
    not all though don't know couldn't reproduce on 
    most systems*/
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    margin: 0;
    background-color: grey;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    z-index: 1000;
    /*put the navigation always on top*/
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-left {
    left: 0;
    padding-left: 0.75rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-right {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

#slide-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* WebKit */
#slide-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide:nth-child(1) {
    background-color: #3C45B5;
}

.slide:nth-child(2) {
    background-color: #27B080;
}

.slide:nth-child(3) {
    background-color: #9B5900;
}

/* For the home page */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-text {
    font-size: 5rem;
    font-family: 'Caveat', cursive;
    line-height: 3.5rem;
    /* margin: 2rem; */
    color: white;
}

#welcome-p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#projects-button {
    background-color: #121B88;
    border: none;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
}

#projects-button:hover {
    background-color: #0B126B;
}

/* for the projects page */
#projects {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
}

.card {
    width: 80%;
    background-color: #006843;
    border-radius: 5px;
    border: 1px solid rgb(255 255 255 / 5%);
    margin: 1rem;
    background-image: radial-gradient(rgba(0, 0, 0, 0.31) 1px,
            transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 4rem;
    border-radius: 1.25rem;
    overflow: hidden;
    color: white;
    display: flex;
    gap: 1rem;
    position: absolute;
    top: -100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    display: flex;
    flex-direction: row;
}


input[type="radio"] {
    position: absolute;
    width: 1px;
    /* Setting this to 0 make it invisible for VoiceOver */
    height: 1px;
    /* Setting this to 0 make it invisible for VoiceOver */
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

label {
    display: block;
    width: 32%;
    background-color: #008455;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s linear;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

label.first {
    left: 0;
}

label.second {
    left: 34%;
}

label.third {
    left: 68%;
}

#first:checked~label.first {
    background-color: #006843;
}

#second:checked~label.second {
    background-color: #006843;
}

#third:checked~label.third {
    background-color: #006843;
}

#first:checked~.one.card {
    top: 10%;
    opacity: 1;
}

#second:checked~.two.card {
    top: 10%;
    opacity: 1;
}

#third:checked~.three.card {
    top: 10%;
    opacity: 1;
}